## This notebook is dedicated to some EDA based on our business questions:

    - Does the airline have an impact on number of flights and percentage of delays?
    - Do the airports (origin and destination) affect the percentage of delays?
    - What is the impact of the day of the week on the percentage of delays?

In [13]:
import pandas as pd
import numpy as np

In [14]:
clean=pd.read_csv('../Data/clean/cleaned_airlines.csv')

In [15]:
clean

,airline,flight,airport_from,airport_to,day_of_week,departure_time,flight_length,delay
0,CO,269,SFO,IAH,3,00:15:00,205,1
1,US,1558,PHX,CLT,3,00:15:00,222,1
2,AA,2400,LAX,DFW,3,00:20:00,165,1
3,AA,2466,SFO,DFW,3,00:20:00,195,1
4,AS,108,ANC,SEA,3,00:30:00,202,0
...,...,...,...,...,...,...,...,...
539378,CO,178,OGG,SNA,5,23:59:00,326,0
539379,FL,398,SEA,ATL,5,23:59:00,305,0
539380,FL,609,SFO,MKE,5,23:59:00,255,0
539381,UA,78,HNL,SFO,5,23:59:00,313,1
539382,US,1442,LAX,PHL,5,23:59:00,301,1

In [21]:
clean.groupby(['airline', 'delay']).agg({'delay':'count'})

               delay
airline delay
9E      0      12460
        1       8226
AA      0      27920
        1      17736
AS      0       7579
        1       3892
B6      0       9653
        1       8459
CO      0       9161
        1      11957
DL      0      33488
        1      27452
EV      0      16728
        1      11255
F9      0       3557
        1       2899
FL      0      14552
        1       6275
HA      0       3792
        1       1786
MQ      0      23863
        1      12742
OH      0       9128
        1       3502
OO      0      27494
        1      22760
UA      0      18673
        1       8946
US      0      22909
        1      11591
WN      0      28440
        1      65657
XE      0      19331
        1      11795
YV      0      10391
        1       3334