## This notebook is dedicated to predicting our taget, whether a given flight got delayed or not

In [1]:
import pandas as pd
import numpy as np

### start by importing the basic data libraries and load our clean data

In [2]:
clean=pd.read_csv('../Data/clean/cleaned_airlines.csv')

In [6]:
clean

,airline,flight,airport_from,airport_to,day_of_week,departure_time,flight_length,delay
0,CO,269,SFO,IAH,3,00:15:00,205,1
1,US,1558,PHX,CLT,3,00:15:00,222,1
2,AA,2400,LAX,DFW,3,00:20:00,165,1
3,AA,2466,SFO,DFW,3,00:20:00,195,1
4,AS,108,ANC,SEA,3,00:30:00,202,0
...,...,...,...,...,...,...,...,...
539378,CO,178,OGG,SNA,5,23:59:00,326,0
539379,FL,398,SEA,ATL,5,23:59:00,305,0
539380,FL,609,SFO,MKE,5,23:59:00,255,0
539381,UA,78,HNL,SFO,5,23:59:00,313,1
539382,US,1442,LAX,PHL,5,23:59:00,301,1

### split into X and y and check right now the class imbalance

In [8]:
y=clean['delay']
X=clean.drop('delay', axis=1)

In [11]:
display(y)
display((y.value_counts()/len(y))*100)
print()
display(X)

0         1
1         1
2         1
3         1
4         0
         ..
539378    0
539379    0
539380    0
539381    1
539382    1
Name: delay, Length: 539383, dtype: int64

0    55.455771
1    44.544229
Name: delay, dtype: float64

,airline,flight,airport_from,airport_to,day_of_week,departure_time,flight_length
0,CO,269,SFO,IAH,3,00:15:00,205
1,US,1558,PHX,CLT,3,00:15:00,222
2,AA,2400,LAX,DFW,3,00:20:00,165
3,AA,2466,SFO,DFW,3,00:20:00,195
4,AS,108,ANC,SEA,3,00:30:00,202
...,...,...,...,...,...,...,...
539378,CO,178,OGG,SNA,5,23:59:00,326
539379,FL,398,SEA,ATL,5,23:59:00,305
539380,FL,609,SFO,MKE,5,23:59:00,255
539381,UA,78,HNL,SFO,5,23:59:00,313
539382,US,1442,LAX,PHL,5,23:59:00,301