## This notebook is dedicated to predicting our taget, whether a given flight got delayed or not

In [1]:
import pandas as pd
import numpy as np

### start by importing the basic data libraries and load our clean data

In [2]:
clean=pd.read_csv('../Data/clean/cleaned_airlines.csv')

In [3]:
clean

,airline,flight_id,airport_from,airport_to,day_of_week,departure_hour,flight_length,delay,part_of_day
0,CO,269,SFO,IAH,3,0,205,1,night
1,US,1558,PHX,CLT,3,0,222,1,night
2,AA,2400,LAX,DFW,3,0,165,1,night
3,AA,2466,SFO,DFW,3,0,195,1,night
4,AS,108,ANC,SEA,3,0,202,0,night
...,...,...,...,...,...,...,...,...,...
539378,CO,178,OGG,SNA,5,23,326,0,night
539379,FL,398,SEA,ATL,5,23,305,0,night
539380,FL,609,SFO,MKE,5,23,255,0,night
539381,UA,78,HNL,SFO,5,23,313,1,night
539382,US,1442,LAX,PHL,5,23,301,1,night

### Split into X and y and check right now the class imbalance

In [4]:
y=clean['delay']
X=clean.drop(['delay', 'flight_id'], axis=1)

In [5]:
display(y)
display((y.value_counts()/len(y))*100)
print()
display(X)

0         1
1         1
2         1
3         1
4         0
         ..
539378    0
539379    0
539380    0
539381    1
539382    1
Name: delay, Length: 539383, dtype: int64

0    55.455771
1    44.544229
Name: delay, dtype: float64

,airline,airport_from,airport_to,day_of_week,departure_hour,flight_length,part_of_day
0,CO,SFO,IAH,3,0,205,night
1,US,PHX,CLT,3,0,222,night
2,AA,LAX,DFW,3,0,165,night
3,AA,SFO,DFW,3,0,195,night
4,AS,ANC,SEA,3,0,202,night
...,...,...,...,...,...,...,...
539378,CO,OGG,SNA,5,23,326,night
539379,FL,SEA,ATL,5,23,305,night
539380,FL,SFO,MKE,5,23,255,night
539381,UA,HNL,SFO,5,23,313,night
539382,US,LAX,PHL,5,23,301,night

### The flight id was dropped here, since even there's way too many values on it, and as a rule of thumb we shouldn't keep id columns for prediction models  
### Another interesting thing we noticed is that while we have a slight class imbalace, it's incredibly small and we'll choose NOT to balance it

In [6]:
from sklearn.model_selection import train_test_split

### Let's do our train test split. Since we have a huge dataset with over half a million rows, we can use a bigger test size

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2)

In [8]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pickle

### After the train test split, let's do some prep work for the scaling and encoding

In [9]:
X_train_num = X_train.select_dtypes(np.number)
X_train_cat = X_train.select_dtypes(object)

In [10]:
display(X_train_cat.head())
display(X_train_num.head())

       airline airport_from airport_to part_of_day
511906      XE          IAH        CLT     morning
519215      B6          SRQ        JFK   afternoon
445387      MQ          DFW        LIT   afternoon
146144      EV          IAD        ROC     morning
290903      WN          SEA        OAK   afternoon

        day_of_week  departure_hour  flight_length
511906            4              10            139
519215            4              17            164
445387            7              17             70
146144            4              12             73
290903            5              17            125

### We have now split the train set into categortical (for encoding) and numerical (for scaling)

In [11]:
X_train_scaling=X_train_num[['flight_length']]
X_train_no_scaling=X_train_num.drop(['flight_length'], axis=1)

In [12]:
display(X_train_scaling.head())
display(X_train_no_scaling.head())

        flight_length
511906            139
519215            164
445387             70
146144             73
290903            125

        day_of_week  departure_hour
511906            4              10
519215            4              17
445387            7              17
146144            4              12
290903            5              17

### But since we only need to scale flight length, we're splitting them up first and will now repeat these steps for the test set

In [13]:
X_test_num = X_test.select_dtypes(np.number)
X_test_cat = X_test.select_dtypes(object)

In [14]:
X_test_scaling=X_test_num[['flight_length']]
X_test_no_scaling=X_test_num.drop(['flight_length'], axis=1)

In [15]:
display(X_test_cat.head())
display(X_test_scaling.head())
display(X_test_no_scaling.head())

       airline airport_from airport_to part_of_day
448599      B6          BOS        TPA       night
497739      AA          DFW        DTW   afternoon
65638       9E          ATL        HPN   afternoon
205461      UA          SFO        BOS       night
209825      AS          SFO        SEA     morning

        flight_length
448599            199
497739            155
65638             143
205461            340
209825            134

        day_of_week  departure_hour
448599            7              20
497739            3              14
65638             6              17
205461            7              22
209825            1               9

### With all of the data from both sets neatly split, it's about time we start doing some scaling and encoding

In [16]:
scaler = StandardScaler().fit(X_train_scaling)
with open("../Scalers/StandardScaler.pkl", 'wb') as file:
    pickle.dump(scaler, file)

In [17]:
num_train_stand = scaler.transform(X_train_scaling)
num_train_pd = pd.DataFrame(num_train_stand, columns = X_train_scaling.columns)

num_test_stand = scaler.transform(X_test_scaling)
num_test_pd = pd.DataFrame(num_test_stand, columns = X_test_scaling.columns)

In [18]:
display(num_train_pd.describe().T)
print()
display(num_test_pd.describe().T)

,count,mean,std,min,25%,50%,75%,max
flight_length,377568.0,-5.447141e-17,1.000001,-1.884034,-0.729946,-0.245515,0.424141,7.448399

,count,mean,std,min,25%,50%,75%,max
flight_length,161815.0,-0.001403,0.996751,-1.884034,-0.729946,-0.245515,0.424141,7.448399

### With the scaling out of the way, let's do the encoding next

In [19]:
encoder = OneHotEncoder(drop='first').fit(X_train_cat)
with open("../Encoders/OneHotEncoder.pkl", 'wb') as file:
    pickle.dump(encoder, file)

In [20]:
cat_train_encoded = encoder.transform(X_train_cat).toarray()
cat_train_pd = pd.DataFrame(cat_train_encoded, columns = encoder.get_feature_names_out())

cat_test_encoded = encoder.transform(X_test_cat).toarray()
cat_test_pd = pd.DataFrame(cat_test_encoded, columns = encoder.get_feature_names_out())

In [21]:
display(cat_train_pd.head())
print()
display(cat_test_pd.head())

,airline_AA,airline_AS,airline_B6,airline_CO,airline_DL,airline_EV,airline_F9,airline_FL,airline_HA,airline_MQ,...,airport_to_TYS,airport_to_UTM,airport_to_VLD,airport_to_VPS,airport_to_WRG,airport_to_XNA,airport_to_YAK,airport_to_YUM,part_of_day_morning,part_of_day_night
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,airline_AA,airline_AS,airline_B6,airline_CO,airline_DL,airline_EV,airline_F9,airline_FL,airline_HA,airline_MQ,...,airport_to_TYS,airport_to_UTM,airport_to_VLD,airport_to_VPS,airport_to_WRG,airport_to_XNA,airport_to_YAK,airport_to_YUM,part_of_day_morning,part_of_day_night
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [22]:
X_train_no_scaling = X_train_no_scaling.reset_index(drop=True)

X_test_no_scaling = X_test_no_scaling.reset_index(drop=True)

In [23]:
X_train_f = pd.concat([X_train_no_scaling, num_train_pd, cat_train_pd], axis=1)

X_test_f = pd.concat([X_test_no_scaling, num_test_pd, cat_test_pd], axis=1)

In [24]:
X_train_f

,day_of_week,departure_hour,flight_length,airline_AA,airline_AS,airline_B6,airline_CO,airline_DL,airline_EV,airline_F9,...,airport_to_TYS,airport_to_UTM,airport_to_VLD,airport_to_VPS,airport_to_WRG,airport_to_XNA,airport_to_YAK,airport_to_YUM,part_of_day_morning,part_of_day_night
0,4,10,0.096437,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,4,17,0.452637,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7,17,-0.886674,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,12,-0.843930,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,5,17,-0.103035,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377563,6,5,-1.043402,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
377564,7,21,0.025197,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
377565,7,10,2.547091,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
377566,7,19,-0.430739,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
377567,1,19,-0.373747,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
X_test_f

,day_of_week,departure_hour,flight_length,airline_AA,airline_AS,airline_B6,airline_CO,airline_DL,airline_EV,airline_F9,...,airport_to_TYS,airport_to_UTM,airport_to_VLD,airport_to_VPS,airport_to_WRG,airport_to_XNA,airport_to_YAK,airport_to_YUM,part_of_day_morning,part_of_day_night
0,7,20,0.951316,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,3,14,0.324405,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6,17,0.153429,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,7,22,2.960283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1,9,0.025197,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161810,1,13,0.324405,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161811,7,11,-0.174275,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
161812,7,15,-0.245515,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161813,7,8,0.409893,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
161814,7,11,1.863188,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [26]:
print(len(X_train))
print(len(X_train_f))
print()
print(len(X_test))
print(len(X_test_f))

377568
377568

161815
161815

### Currently we have our data very nicely preppared to train our prediction models, but we still have one problem: after the encoding we now have over 600 features
### We need to reduce this number, so we'll use PCA to extract the more relevant ones

In [27]:
from sklearn.decomposition import PCA

In [28]:
pca = PCA()
pca.fit(X_train_f)

PCA()

In [29]:
print(pca.explained_variance_ratio_)

[7.36915248e-01 1.25951066e-01 3.49718189e-02 5.77488331e-03
 4.37570968e-03 3.47383332e-03 3.03801710e-03 2.95670585e-03
 2.59252071e-03 2.52020169e-03 2.39418422e-03 2.36508612e-03
 2.17709794e-03 1.94671277e-03 1.60746929e-03 1.59569072e-03
 1.50847875e-03 1.47231513e-03 1.42212138e-03 1.34424268e-03
 1.28024662e-03 1.15534104e-03 1.09793409e-03 1.08572306e-03
 1.04571466e-03 1.02353937e-03 9.92769695e-04 9.55959235e-04
 9.34703256e-04 8.45649666e-04 8.06666871e-04 7.93848561e-04
 7.91090370e-04 7.46867162e-04 7.23472639e-04 7.14894396e-04
 7.09119671e-04 7.00338048e-04 6.95454211e-04 6.80356521e-04
 6.69870948e-04 6.59964703e-04 6.40585288e-04 6.26525128e-04
 6.22604309e-04 6.11021010e-04 6.07577729e-04 5.90806670e-04
 5.68842041e-04 5.52731711e-04 5.33847802e-04 5.25697461e-04
 5.09178105e-04 5.07216487e-04 5.03700013e-04 4.80861003e-04
 4.74700404e-04 4.59514682e-04 4.55948493e-04 4.51351098e-04
 4.27858598e-04 4.21546232e-04 4.14464957e-04 4.09443382e-04
 4.06325198e-04 4.04722676e-04 3.95453751e-04 3.90861627e-04
 3.85318059e-04 3.80994821e-04 3.64370261e-04 3.55833225e-04
 3.46629307e-04 3.40032130e-04 3.30533629e-04 3.22220331e-04
 3.20502676e-04 3.16626733e-04 3.15242498e-04 3.12638791e-04
 3.08138286e-04 3.06694761e-04 2.96837634e-04 2.89569516e-04
 2.81988838e-04 2.77553640e-04 2.73132458e-04 2.69996494e-04
 2.69585028e-04 2.61758934e-04 2.56346768e-04 2.51015256e-04
 2.49273775e-04 2.49059037e-04 2.40685103e-04 2.35529496e-04
 2.33929071e-04 2.32362309e-04 2.31309207e-04 2.28313791e-04
 2.25846872e-04 2.22171465e-04 2.19393202e-04 2.17861580e-04
 2.14215241e-04 2.12038750e-04 2.11382402e-04 2.10741548e-04
 2.06891666e-04 2.04877794e-04 1.98029892e-04 1.95826352e-04
 1.93097128e-04 1.89728522e-04 1.85134806e-04 1.83706754e-04
 1.74372924e-04 1.73041684e-04 1.72302218e-04 1.71544735e-04
 1.69224432e-04 1.65660188e-04 1.62020988e-04 1.56904138e-04
 1.54126236e-04 1.48640008e-04 1.42347104e-04 1.35822100e-04
 1.34713635e-04 1.31277496e-04 1.28268235e-04 1.25494750e-04
 1.23264787e-04 1.22767815e-04 1.21121645e-04 1.20593487e-04
 1.20091467e-04 1.19221062e-04 1.18568429e-04 1.17123318e-04
 1.15005385e-04 1.13684385e-04 1.13483499e-04 1.12756858e-04
 1.11767952e-04 1.10255393e-04 1.08918880e-04 1.07420247e-04
 1.06769195e-04 1.05293274e-04 1.01835496e-04 1.00736762e-04
 9.96921227e-05 9.90122428e-05 9.83089981e-05 9.74214939e-05
 9.49932626e-05 9.45803355e-05 9.19163179e-05 8.99330816e-05
 8.89947498e-05 8.81712556e-05 8.52262467e-05 8.14064086e-05
 8.08348623e-05 7.90520941e-05 7.86345572e-05 7.77221577e-05
 7.69043706e-05 7.64326536e-05 7.56662322e-05 7.52469207e-05
 7.34070547e-05 7.12840030e-05 7.06301915e-05 6.97952207e-05
 6.92809664e-05 6.78970861e-05 6.75204079e-05 6.69745548e-05
 6.65217105e-05 6.57869460e-05 6.55632862e-05 6.50513875e-05
 6.48631427e-05 6.44893177e-05 6.44063919e-05 6.42248008e-05
 6.41283530e-05 6.37206851e-05 6.36239966e-05 6.34183505e-05
 6.30100326e-05 6.26301455e-05 6.23748862e-05 6.21803690e-05
 6.19599329e-05 6.12666744e-05 6.10488415e-05 5.96728799e-05
 5.92292135e-05 5.83518500e-05 5.75025643e-05 5.67409066e-05
 5.50658407e-05 5.47800358e-05 5.47554204e-05 5.46095527e-05
 5.36919709e-05 5.28526514e-05 5.21267451e-05 5.13988857e-05
 5.11832885e-05 5.09162750e-05 5.07865178e-05 5.06766448e-05
 5.05358986e-05 5.02486952e-05 4.96153737e-05 4.94035182e-05
 4.86005465e-05 4.85430926e-05 4.82939786e-05 4.72120216e-05
 4.65880480e-05 4.59587062e-05 4.51411764e-05 4.49052407e-05
 4.44322576e-05 4.35624273e-05 4.21925340e-05 4.21029989e-05
 4.13376116e-05 4.05709611e-05 3.97482084e-05 3.92445356e-05
 3.92300880e-05 3.90965184e-05 3.85866360e-05 3.81641648e-05
 3.78342265e-05 3.72851636e-05 3.70354175e-05 3.65362138e-05
 3.61685730e-05 3.55379332e-05 3.44960278e-05 3.38282401e-05
 3.35717535e-05 3.34712086e-05 3.32966724e-05 3.31811905e-05
 3.29284358e-05 3.28139537e-05 3.27489654e-05 3.22498221e-05
 3.21166880e-05 3.20090902e-05 3.16443770e-05 3.13183481e-05
 3.10776854e-05 3.08250639e-05 3.07848887e-05 3.05579063e-05
 3.04614508e-05 2.97841186e-05 2.94192084e-05 2.90593440e-05
 2.90389622e-05 2.89491458e-05 2.88329799e-05 2.86860393e-05
 2.85234350e-05 2.84877800e-05 2.80582332e-05 2.80295052e-05
 2.79547863e-05 2.78697221e-05 2.77918028e-05 2.76772324e-05
 2.75781932e-05 2.74503777e-05 2.73077741e-05 2.71515735e-05
 2.69313318e-05 2.67614048e-05 2.65830554e-05 2.64030603e-05
 2.63025221e-05 2.60922439e-05 2.60361117e-05 2.57654573e-05
 2.56778751e-05 2.55860623e-05 2.53689169e-05 2.53611165e-05
 2.51980069e-05 2.51704566e-05 2.50648949e-05 2.50296042e-05
 2.49475965e-05 2.48117248e-05 2.44081367e-05 2.43647151e-05
 2.42872096e-05 2.40827167e-05 2.38759863e-05 2.36609285e-05
 2.35906278e-05 2.35118749e-05 2.32590929e-05 2.28847158e-05
 2.27504096e-05 2.24091660e-05 2.20636144e-05 2.19477555e-05
 2.16977087e-05 2.16850064e-05 2.14358828e-05 2.12704445e-05
 2.11297375e-05 2.10548824e-05 2.07173023e-05 2.05475551e-05
 2.03764216e-05 2.01550600e-05 2.00708808e-05 1.99435866e-05
 1.98879259e-05 1.97551785e-05 1.96852499e-05 1.96561560e-05
 1.96285376e-05 1.95457519e-05 1.94332535e-05 1.92351848e-05
 1.91011527e-05 1.87955890e-05 1.87218959e-05 1.86224567e-05
 1.85381687e-05 1.85261395e-05 1.83771337e-05 1.82805114e-05
 1.81179849e-05 1.80487706e-05 1.78840605e-05 1.76882271e-05
 1.75401727e-05 1.74931667e-05 1.74440237e-05 1.73830714e-05
 1.73259755e-05 1.72633423e-05 1.72184478e-05 1.70797627e-05
 1.70186547e-05 1.69522303e-05 1.68877505e-05 1.67915269e-05
 1.66307235e-05 1.64833284e-05 1.64161337e-05 1.61659825e-05
 1.61603233e-05 1.59358299e-05 1.59159448e-05 1.56593097e-05
 1.55913454e-05 1.53157683e-05 1.53009926e-05 1.49147336e-05
 1.48485057e-05 1.47755505e-05 1.43785961e-05 1.42671932e-05
 1.41182010e-05 1.41112079e-05 1.39880595e-05 1.38104096e-05
 1.36576332e-05 1.33748767e-05 1.33549002e-05 1.32585570e-05
 1.30947262e-05 1.29007367e-05 1.28067792e-05 1.27060911e-05
 1.25833970e-05 1.25152431e-05 1.24909289e-05 1.23957019e-05
 1.22985953e-05 1.22742728e-05 1.21277310e-05 1.20228131e-05
 1.19165817e-05 1.16673524e-05 1.16323882e-05 1.14783330e-05
 1.14252441e-05 1.14015359e-05 1.12867568e-05 1.12281617e-05
 1.12253760e-05 1.11424067e-05 1.10499077e-05 1.10056658e-05
 1.09434816e-05 1.08161232e-05 1.07709414e-05 1.06925856e-05
 1.06353201e-05 1.05153110e-05 1.04642284e-05 1.04262998e-05
 1.03614458e-05 1.03199618e-05 1.02545272e-05 1.02263070e-05
 1.01759520e-05 1.01504135e-05 1.01399636e-05 1.00931906e-05
 1.00115037e-05 9.90779982e-06 9.86825317e-06 9.81878057e-06
 9.76790072e-06 9.63716967e-06 9.28202305e-06 9.27135928e-06
 9.14200153e-06 9.05753169e-06 8.95605211e-06 8.87669238e-06
 8.80312428e-06 8.73836157e-06 8.59696714e-06 8.55162919e-06
 8.38052556e-06 8.31709557e-06 8.30919458e-06 8.22508425e-06
 8.14972124e-06 8.08475738e-06 8.06078855e-06 8.02086005e-06
 7.97014472e-06 7.74316731e-06 7.71153356e-06 7.54544040e-06
 7.46164510e-06 7.45611034e-06 7.38663305e-06 7.37053592e-06
 7.21720142e-06 7.17784154e-06 7.05656364e-06 7.03365415e-06
 6.94517173e-06 6.82950219e-06 6.79223548e-06 6.72929607e-06
 6.69059962e-06 6.64707113e-06 6.56553906e-06 6.52019564e-06
 6.48095161e-06 6.43604064e-06 6.41338454e-06 6.40000197e-06
 6.28556813e-06 6.24369970e-06 6.12750345e-06 6.07586361e-06
 6.03637190e-06 6.00346927e-06 5.99367758e-06 5.95242799e-06
 5.93118298e-06 5.89108341e-06 5.87697605e-06 5.85387120e-06
 5.75714101e-06 5.74970976e-06 5.72935202e-06 5.71281155e-06
 5.68996964e-06 5.68075468e-06 5.65003411e-06 5.59250033e-06
 5.55818527e-06 5.52638155e-06 5.50426730e-06 5.46214602e-06
 5.43068329e-06 5.37880829e-06 5.33625968e-06 5.20134257e-06
 5.16158523e-06 5.07869139e-06 5.05823015e-06 5.03614052e-06
 5.01715569e-06 4.98217346e-06 4.97806061e-06 4.97055673e-06
 4.95422413e-06 4.92940541e-06 4.88775947e-06 4.87253038e-06
 4.78036160e-06 4.74850664e-06 4.70013019e-06 4.56296279e-06
 4.54694912e-06 4.52176948e-06 4.48007321e-06 4.45035748e-06
 4.44108423e-06 4.35604631e-06 4.27242832e-06 4.24541666e-06
 4.20414318e-06 4.17017051e-06 4.16119088e-06 4.15374641e-06
 4.10777671e-06 4.09318955e-06 4.07620818e-06 4.06561724e-06
 4.05556888e-06 4.01392549e-06 3.99309975e-06 3.86171796e-06
 3.83243752e-06 3.82181822e-06 3.80973046e-06 3.78729256e-06
 3.77157617e-06 3.74467838e-06 3.71283957e-06 3.69843726e-06
 3.68029997e-06 3.63816585e-06 3.63202769e-06 3.62167995e-06
 3.54369362e-06 3.53938914e-06 3.48041607e-06 3.35334945e-06
 3.33057410e-06 3.27089515e-06 3.26008433e-06 3.19104341e-06
 3.17036808e-06 3.14804110e-06 3.09429219e-06 3.07470010e-06
 2.99871098e-06 2.96052374e-06 2.72772995e-06 2.45314175e-06
 2.36255958e-06 2.27141482e-06 2.09609006e-06 2.09184770e-06
 2.00983262e-06 2.00347923e-06 1.99261110e-06 1.92593142e-06
 1.91488330e-06 1.91090570e-06 1.90709656e-06 1.90593013e-06
 1.89799417e-06 1.82281542e-06 1.81698174e-06 1.80653551e-06
 1.62691723e-06 1.61780537e-06 1.60396454e-06 1.54916085e-06
 1.54871585e-06 1.45823381e-06 1.36788976e-06 1.33223635e-06
 1.27624155e-06 1.20536884e-06 1.19062731e-06 1.18433614e-06
 1.17621701e-06 1.14399814e-06 1.09254240e-06 1.09194816e-06
 1.00259295e-06 8.20824594e-07 6.35046148e-07 6.30333352e-07
 5.44966663e-07 3.62787877e-07 1.82904242e-07 1.82832595e-07
 6.97787814e-08 6.73542962e-08]